<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{meetingId}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Minutes</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_item"><i class="fa fa-plus"></i> Add Item</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="project-title">
                        <h5 class="card-title">Meeting {{meetingId}}</h5>
                    </div>
                </div>
            </div>
            
            <div class="project-task">
                <ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
                    <li class="nav-item"><a class="nav-link active" href="#all_tasks" data-bs-toggle="tab"
                            aria-expanded="true">All Meeting Items</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pending_tasks" data-bs-toggle="tab"
                            aria-expanded="false">Pending Meeting Items</a></li>
                    <li class="nav-item"><a class="nav-link" href="#completed_tasks" data-bs-toggle="tab"
                            aria-expanded="false">Completed Meeting Items</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="all_tasks">
                        <div class="task-wrapper">
                            <div class="task-list-container">
                                <div class="task-list-body">
                                    <ul id="task-list">
                                        <li *ngFor="let meetingItem of meetingItems$ |async;let i = index">
                                            <div [ngClass]="{
                                                'task': meetingItem.meetingItemStatus.status !== 'Completed',
                                                'completed task': meetingItem.meetingItemStatus.status === 'Completed'}">
                                                <div class="task-container">
                                                    <span class="task-action-btn task-check">
                                                        <span *ngIf="meetingItem.meetingItemStatus.status == 'Open'" [ngClass]="meetingItem.meetingItemStatus.status !== 'Completed' ? 'action-circle large complete-btn' : 'action-circle large complete-btn'"
                                                            title="Mark Complete">
                                                            <a  [routerLink]="" (click)="markComplete(meetingItem.id)" ><i class="material-icons">check</i></a>
                                                        </span>
                                                    </span>
                                                    <span class="task-label" contenteditable="false">{{meetingItem.action}}
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                            <div class="task-head-title text-success">Assigned To {{meetingItem.personResponsible.firstName + ' ' + meetingItem.personResponsible.lastName}} </div>
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                        <div  class="task-head-title text-success">Due:{{meetingItem.dueDate | customDate}}</div>
                                                        <div *ngIf="meetingItem.meetingItemStatus.status == 'Moved'" class="task-head-title text-success">Moved</div>
                                                    </span>
                                                     <span *ngIf="meetingItem.meetingItemStatus.status == 'Open'" class="action-circle large delete-btn" title="Edit Meeting Item">
                                                        <a  [routerLink]="" (click)="openEditModal(meetingItem)" ><i class="material-icons">edit</i></a>
                                                     </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pending_tasks">
                        <div class="task-wrapper">
                            <div class="task-list-container">
                                <div class="task-list-body">
                                    <ul id="task-list">
                                        <li *ngFor="let meetingItem of meetingItems;let i = index">
                                            <div *ngIf="meetingItem.meetingItemStatus.status != 'Complete'" class="task">
                                                <div class="task-container">
                                                    <span class="task-action-btn task-check">
                                                        <span *ngIf="meetingItem.meetingItemStatus.status == 'Open'" [ngClass]="meetingItem.meetingItemStatus.status !== 'Completed' ? 'action-circle large complete-btn' : 'action-circle large complete-btn'"
                                                            title="Mark Complete">
                                                            <a  [routerLink]="" (click)="markComplete(meetingItem.id)" ><i class="material-icons">check</i></a>
                                                        </span>
                                                    </span>
                                                    <span class="task-label" contenteditable="false">{{meetingItem.action}}
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                            <div class="task-head-title text-success">Assigned To {{meetingItem.personResponsible.firstName + ' ' + meetingItem.personResponsible.lastName}} </div>
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                        <div class="task-head-title text-success">Due:{{meetingItem.dueDate | customDate}}</div>
                                                        <div *ngIf="meetingItem.meetingItemStatus.status == 'Moved'" class="task-head-title text-success">Moved</div>
                                                    </span>
                                                    <span class="task-action-btn task-btn-right">
                                                        <span class="action-circle large delete-btn" title="Edit Meeting Item">
                                                            <i class="material-icons">edit</i>
                                                        </span>
                                                    </span>
                                                    <span *ngIf="meetingItem.meetingItemStatus.status == 'Open'" class="action-circle large delete-btn" title="Edit Meeting Item">
                                                        <a  [routerLink]="" (click)="openEditModal(meetingItem)" ><i class="material-icons">edit</i></a>
                                                     </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="completed_tasks">
                        <div class="task-wrapper">
                            <div class="task-list-container">
                                <div class="task-list-body">
                                    <ul id="task-list">
                                        <li *ngFor="let meetingItem of meetingItems;let i = index">
                                            <div *ngIf="meetingItem.meetingItemStatus.status == 'Completed'" class="task">
                                                <div class="task-container">
                                                    <span class="task-label" contenteditable="false">{{meetingItem.action}}
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                            <div class="task-head-title text-success">Assigned To {{meetingItem.personResponsible.firstName + ' ' + meetingItem.personResponsible.lastName}} </div>
                                                    </span>
                                                    <span class="task-action-btn task-btn-center">
                                                        <div class="task-head-title text-success">Completed:{{meetingItem.meetingItemStatus.addedDate | customDate}}</div>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Meeting Item  Modal -->
<div id="add_item" class="modal custom-modal fade" role="dialog" >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button id="ModalClose" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addMeetingItemForm">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label>Person Responsible</label>
                                <select class="form-select form-control" formControlName="personResponsible">
                                    <option class="dropdown-item" disabled selected value="">Select Person Responsible</option>
                                    <option *ngFor="let user of users" [value]="user.emailAddress">{{user.firstName + ' ' + user.lastName}} </option>
                                </select>
                                <div
                                *ngIf="addMeetingItemForm.get('personResponsible').invalid">
                                <small
                                    *ngIf="addMeetingItemForm.get('personResponsible') && isSubmit"
                                    class="text-danger"> *required
                                </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Due Date</label>
                                <div class="cal-icon">
                                    <input formControlName="dueDate" class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                        [minDate]="minDate" [maxDate] = "maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                        [class.invalid]="addMeetingItemForm.get('dueDate').invalid">
                                </div>
                                <div
                                    *ngIf="addMeetingItemForm.get('dueDate').invalid">
                                    <small
                                        *ngIf="addMeetingItemForm.get('dueDate') && isSubmit"
                                        class="text-danger"> *Date is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Action</label>
                                <textarea rows="4" class="form-control" formControlName="action" placeholder="Enter your meeting Item here"></textarea>
                                <div *ngIf="addMeetingItemForm.get('action').invalid">
                                    <small
                                        *ngIf="addMeetingItemForm.get('action') && isSubmit"
                                        class="text-danger"> *required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="addMeetingItem()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Meeting Item Modal -->
<!-- Add Meeting Item  Modal -->
<div id="edit_item" class="modal custom-modal fade" role="dialog" >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
                <button id="ModalEditClose" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editMeetingItemForm">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label>Person Responsible</label>
                                <select class="form-select form-control" formControlName="personResponsible">
                                    <option class="dropdown-item" disabled selected value="">Select Person Responsible</option>
                                    <option *ngFor="let user of users" [value]="user.emailAddress">{{user.firstName + ' ' + user.lastName}} </option>
                                </select>
                                <div
                                *ngIf="editMeetingItemForm.get('personResponsible').invalid">
                                <small
                                    *ngIf="editMeetingItemForm.get('personResponsible') && isSubmit"
                                    class="text-danger"> *required
                                </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>Due Date</label>
                                <div class="cal-icon">
                                    <input formControlName="dueDate" class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                        [minDate]="minDate" [maxDate] = "maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                        [class.invalid]="addMeetingItemForm.get('dueDate').invalid">
                                </div>
                                <div
                                    *ngIf="editMeetingItemForm.get('dueDate').invalid">
                                    <small
                                        *ngIf="editMeetingItemForm.get('dueDate') && isSubmit"
                                        class="text-danger"> *Date is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Action</label>
                                <textarea rows="4" class="form-control" formControlName="action" placeholder="Enter your meeting Item here"></textarea>
                                <div *ngIf="editMeetingItemForm.get('action').invalid">
                                    <small
                                        *ngIf="editMeetingItemForm.get('action') && isSubmit"
                                        class="text-danger"> *required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="editMeetingItem()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Meeting Item Modal -->

